---
import '../styles/global.css';
import Nav from '../components/navbar.astro';
import Header from '../components/header.astro';
import Image from '../components/img.astro';
---
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<Header/>
	<Nav/>
</head>
<body>
	<Image/>
	<div>
		<h1>Bienvenue sur le site de la FFForce</h1>
	</div>
	<span class="bg-sky-900 p-8"></span>
</body>