---
import '../styles/global.css';
---
<div class="flex items-center justify-between py-2 px-5 w-full relative z-10;">
    <img src="logoffforce.png" alt="Logo de la FFForce">
    <div class="flex justify-center items-center top-5 right-0">
        <input src="facebook.png" alt="Facebook" class="w-25 hover:border-2 hover:border-white rounded-full" type="image">
        <input src="inst.png" type="image" alt="Instagram" class="w-25 hover:border-2 hover:border-white rounded-full">
        <input src="ytb.png" type="image" alt="YouTube" class="w-25 hover:border-2 hover:border-white rounded-full"> 
    </div>
</div>