---

---

<div class="-">
    <img src="1.png" alt="Image d'accueil" class="accueil-blur">
    <img src="2.png" alt="Image d'accueil" class="accueil-blur">
    <img src="3.png" alt="Image d'accueil" class="accueil-blur">
    <img src="4.jpg" alt="Image d'accueil" class="accueil-blur">
    <h1 class="-">Bienvenue sur le site de la FFForce</h1>
    <div class="-">
        <input type="button" class="cont-button" value="Nous Contacter">
    </div>
</div>