---
import '../styles/global.css';
---

<nav class="p-10 bg-sky-900 text-white border-black border-2">
    <ul class ="flex justify-center items-center p-0 m-0 list-none">
        <li class="m-0 flex gap-8">
            <a class="hover:underline hover:underline-offset-8 hover:text-gray-400 text-white text-xl font-medium rounded"href="/">La Fédération</a>
            <a class="hover:underline hover:underline-offset-8 hover:text-gray-400 text-white text-xl font-medium rounded"href="/about">Espace Licencié</a>
        </li>
    </ul>
</nav>