---
import '../styles/global.css';
---

<nav class="p-3 w-500 bg-zinc-200 text-whit shadow-zinc-500/50 shadow-lg rounded-lg">
    <ul class ="flex justify-center items-center p-0 m-0 list-none">
        <li class="m-0 flex gap-8">
            <a class="hover:underline hover:underline-offset-8 hover:text-gray-400 text-black text-xl font-medium rounded"href="/">La Fédération</a>
            <a class="hover:underline hover:underline-offset-8 hover:text-gray-400 text-black text-xl font-medium rounded"href="/about">Espace Licencié</a>
        </li>
    </ul>
</nav>